.post-container {
  margin: 20px 0px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px 30px;
}
.post-card {
  padding: 20px 20px;
  border: 1px solid gray;
  font-size: 18px;
  margin: 20px 0px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .post-container {
    display: flex;
    flex-wrap: wrap;
  }

  .post-card {
    flex: 0 0 calc(33.33% - 20px);
    margin: 20px;
    background-color: #b8e2f2;
    padding: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 18px;
  }
}
.post-title {
  margin: 10px 0px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .post-card {
    flex: 0 0 100%;
    margin: 20px;
    background-color: #b8e2f2;
    border: 1px solid #ccc;
  }
}
